<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SQLConnStr" value="data source=101.201.113.251,14330;         initial catalog=QinghaiFupin;         persist security info=True;         user id=sa;         password=jhbc!@#456;"/>
    <!--<add key="SQLConnStr" value="data source=.;     initial catalog=QinghaiFupin;     persist security info=True;     user id=sa;     password=a123456;"/>-->
    <add key="DES_Key" value="qinhaifp"/>
    <add key="ExportFile" value="D:\"/>
    <add key="ExportFileZip" value="D:\"/>
    <add key="XMLFile" value="D:\"/>
  </appSettings>
</configuration>