.footer{
	width: 100%;
	display: inline-block;
	background-color: #333333;
	height: 80px;
	position: fixed;
    bottom: 0;
    left: 0;
}
.footer h3{
	color: #fff;
	text-align: center;
	width: 100%;
	display: inline-block;
	font-size: 12px;
}
.footer h3:nth-of-type(1){
	margin-top: 20px;
}
.footer h3:nth-of-type(2){
	margin-top: 15px;
}