.container {
    width: 100%;
    height: 100%;
    display: block;
}
/*轮播 start*/
.login_back{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}
.login_back .swiper-container img{
	width: 100%;
	height: 100%;
	display: block;
}
/*轮播 end*/

/*登陆 start*/
.content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    z-index: 10;
}
.content .cont_box{
	z-index: 2;
    position: absolute;
    top: 12%;
    width: 100%;
    text-align: center;
    display: block;
    left: 0;
}
.content .cont_box>h3{
	background: url(../img/login/login_text.png) no-repeat center;
	background-size: 100%;
	width: 693px;
	height: 50px;
	margin: 0 auto;
}
.content .cont_box .cont_box_login{
	width: 300px;
	display: block;
	margin: 0 auto;
	background: rgba(0,0,0,.6);
	margin-top: 85px;
	border-radius: 3px;
	border: 1px solid #d3dce4;
}
.content .cont_box .cont_box_login>div:nth-of-type(1){
	width: 80%;
	margin:25px 10%;
	display: inline-block;
}
.content .cont_box .cont_box_login>div:nth-of-type(1)>h3{
	font-size: 18px;
	text-align: center;
	margin-top: 13px;
	color: #fff;
}
.content .cont_box .cont_box_login>div:nth-of-type(1) div{
	width: 100%;
    border: 1px solid #d7d8d9;
    height: 44px;
    line-height: 44px;
    margin-top: 14px;
    display: table;
    border-radius: 3px;
    background-color: #fff !important;
}
.content .cont_box .cont_box_login>div:nth-of-type(1) div:nth-of-type(1){
	margin-top: 26px;
}
.content .cont_box .cont_box_login>div:nth-of-type(1) .login_num{
	background: url(../img/login/num.png) no-repeat scroll 11px 15px;
}
.content .cont_box .cont_box_login>div:nth-of-type(1) .login_pwd{
	background: url(../img/login/pwd.png) no-repeat scroll 11px 15px;
}
.content .cont_box .cont_box_login>div:nth-of-type(1) div>input{
	margin-left: 36px;
    height: 27px;
    display: block;
    margin-top: 8px;
    width: 80%;
    border: none;
    outline: none;
    border-left: 1px solid #cfcfcf;
    padding-left: 10px;
    font-size: 12px;
}
.content .cont_box .cont_box_login>div:nth-of-type(1) span{
	margin: 10px 0;
	font-size: 12px;
    width: 100%;
    color: #fff;
    display: inline-block;
    text-align: left;
}
.content .cont_box .cont_box_login>div:nth-of-type(1) .btn-login{
	background: #0075a9;
    border: none;
    color: #fff;
    height: 35px;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    border-radius: 3px;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    border: 1px solid #61a8c7;
}
.content .cont_box div:nth-of-type(2){
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 14px;
	margin-top: 40px;
	line-height: 30px;
	letter-spacing: 2px;
	
}

/*登陆 end*/




