*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
ol, ul , li{
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a:hover, a:active {
    outline: none;
}

body {line-height: 1;  font-family: "Microsoft YaHei", "微软雅黑", Arial,Helvetica,SimSun, "宋体", "华文细黑", Heiti, "黑体", sans-serif; font-size: 62.5%; color: #333;"onselectstart="return false;}
img{border:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
select,input{vertical-align:middle}
a{color:#333;text-decoration:none;-webkit-tap-highlight-color: rgba(255,255,255,0.1);}
input[type=number] {  
    -moz-appearance:textfield;  
}  
input[type=number]::-webkit-inner-spin-button,  
input[type=number]::-webkit-outer-spin-button {  
    -webkit-appearance: none;  
    margin: 0;  
}
